@using System.Text;
@using System.Text.Json;
@using System.Net.Http
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@using Microsoft.Extensions.Configuration
@using Microsoft.AspNetCore.SignalR.Client
@using Onebrb.Core.Dtos.Messages;
@using Onebrb.Client.Settings
@using Onebrb.Core.Dtos.User;
@inject IConfiguration Configuration
@inject IWebAssemblyHostEnvironment HostEnvironment
@inject HttpClient Http
@inject NavigationManager NavigationManager

<IndividualConversation ConversationWith="@Recipient"></IndividualConversation>

<div class="message-form">
    <Notification CssClass="@NotificationCssClass" Message="@ResponseMessage"></Notification>

    <EditForm Model="@messageDto" OnValidSubmit="SendMessage">
        <DataAnnotationsValidator />

        <h3>Messaging @Recipient</h3>

        <InputText type="hidden" @bind-Value="@Recipient" class="form-control"></InputText>
        <div class="form-group">
            Title:
            <InputText type="text" @bind-Value="@messageDto.Title" class="form-control"></InputText>
        </div>
        <div class="form-group">
            Text:
            <InputTextArea @bind-Value="@messageDto.Body" class="form-control"></InputTextArea>
        </div>
        <button class="btn btn-success" title="Send" disabled="@IsSendBtnDisabled">
            <i class="fas fa-paper-plane fas--space-right"></i>Send
        </button>
        <a class="btn btn-secondary" href="javascript:void(0)" title="Cancel" @onclick="CancelReply">
            <i class="fas fa-window-close fas--space-right"></i>Cancel
        </a>
    </EditForm>
</div>


@code {
    private MessageDto messageDto = new MessageDto();
    private HttpResponseMessage response;

    [Parameter]
    public string Recipient { get; set; }

    public UserDto CurrentUser { get; set; }
    public UserDto RecipientUser { get; set; }

    public string ResponseMessage { get; set; }
    public string NotificationCssClass { get; set; }
    public bool IsSendBtnDisabled { get; set; } = true;

    // Settings
    public ApiSettings ApiSettings { get; private set; }
    public UsersSettings UsersSettings { get; private set; }
    public MessagesSettings MessageSettings { get; set; }
    public UIMessages UIMessages { get; set; }
    public UIStyles UIStyles { get; set; }

    // SignalR
    private HubConnection hubConnection;

    // Text messages

    [Parameter]
    public bool ShowReplyForm { get; set; } = true;

    [Parameter]
    public EventCallback<bool> ShowReplyFormChanged { get; set; }

    private async Task SendMessage()
    {
        if (IsSendBtnDisabled)
        {
            return;
        }

        if (messageDto != null && Recipient != null)
        {
            messageDto.RecipientUserName = RecipientUser.UserName;
            messageDto.RecipientId = RecipientUser.Id;
            messageDto.AuthorId = CurrentUser.Id;
            messageDto.AuthorUserName = CurrentUser.UserName;

            string jsonString = JsonSerializer.Serialize(messageDto);

            if (!string.IsNullOrEmpty(jsonString))
            {
                NotificationCssClass = UIStyles.AlertInfo;
                ResponseMessage = UIMessages.SendingMessage;

                response = await Http.PostAsync(MessageSettings.CreateApiEndpoint,
                    new StringContent(jsonString, Encoding.UTF8, "application/json"));

                if (response != null && response.IsSuccessStatusCode)
                {
                    IsSendBtnDisabled = true;
                    ResponseMessage = UIMessages.MessageSent;
                    NotificationCssClass = UIStyles.AlertSuccess;

                    // SignalR
                    hubConnection = new HubConnectionBuilder()
                                        .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
                                        .Build();

                    await hubConnection.StartAsync();

                    await hubConnection.SendAsync("SendMessage", CurrentUser.UserName, messageDto.Body);
                }
                else
                {
                    IsSendBtnDisabled = true;
                    ResponseMessage = UIMessages.MessageSendingFailed;
                    NotificationCssClass = UIStyles.AlertDanger;
                }
            }
        }

    }

    protected override async Task OnInitializedAsync()
    {
        MessageSettings = Configuration.GetSection(nameof(ApiSettings)).Get<ApiSettings>().MessagesSettings;
        UIMessages = Configuration.GetSection(nameof(UISettings)).Get<UISettings>().UIMessages;
        UIStyles = Configuration.GetSection(nameof(UISettings)).Get<UISettings>().UIStyles;
        UsersSettings = Configuration.GetSection(nameof(ApiSettings)).Get<ApiSettings>().UsersSettings;

        var currentUserResponse = await Http.GetAsync($"{UsersSettings.GetCurrentUserApiEndpoint}");
        var recipientResponse = await Http.GetAsync($"{UsersSettings.GetUserApiEndpoint}/{Recipient}");

        // The recipient username doesn't exist
        if (!recipientResponse.IsSuccessStatusCode)
        {
            NotificationCssClass = UIStyles.AlertDanger;
            ResponseMessage = UIMessages.UserNotFound;
        }
        else
        {
            IsSendBtnDisabled = false;
            if (currentUserResponse.IsSuccessStatusCode)
            {
                // Get logged in user
                var jsonString = await currentUserResponse.Content.ReadAsStringAsync();
                CurrentUser = JsonSerializer.Deserialize<UserDto>(jsonString,
                    new JsonSerializerOptions
                    {
                        PropertyNameCaseInsensitive = true
                    });

                // Get recipient
                jsonString = await currentUserResponse.Content.ReadAsStringAsync();
                RecipientUser = JsonSerializer.Deserialize<UserDto>(jsonString,
                new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true
                });
            }
            else
            {
                ResponseMessage = UIMessages.GenericError;
            }

        }

    }

    private Task CancelReply()
    {
        ResponseMessage = UIMessages.PleaseWait;
        ShowReplyForm = false;

        return ShowReplyFormChanged.InvokeAsync(false);
    }
}
