@using Onebrb.Core.Dtos.Messages
@using Onebrb.Client.Settings
@using Microsoft.Extensions.Configuration
@using System.Net.Http
@using System.Collections.Generic
@using Microsoft.AspNetCore.SignalR.Client
@inject IConfiguration Configuration
@inject HttpClient Http
@inject NavigationManager NavigationManager
@implements IDisposable

<Notification CssClass="@CssClass" Message="@StatusMessage" />

<div class="messages-list-options">
    <button class="btn btn-primary" @onclick="@(e => OnMessageOptionsButtonClick("received"))">Received</button>
    <button class="btn btn-primary" @onclick="@(e => OnMessageOptionsButtonClick("sent"))">Sent</button>
    <button class="btn btn-primary" @onclick="@(e => OnMessageOptionsButtonClick("archived"))">Archived</button>
</div>

<ul id="messagesList">
    @foreach (var message in messages)
    {
        <li>@message</li>
    }
</ul>

@if (ShowReplyForm)
{
    <MessageForm Recipient="@Recipient" @bind-ShowReplyForm="ShowReplyForm"></MessageForm>
}
else if (Model?.Count > 0)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Text</th>
                <th scope="col">Date Sent</th>
                <th scope="col">From</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                int messageId = @Model[i].Id;
                string recipient = @Model[i].AuthorUserName;

                <tr>
                    <th scope="row">@(i+1)</th>
                    <td>@Model[i].Title</td>
                    <td>@Model[i].Body</td>
                    <td>@Model[i].DateSent</td>
                    <td><a href="/users/@Model[i].AuthorUserName">@Model[i].AuthorUserName</a></td>
                    <td>
                        <button title="Reply" class="btn btn-success"
                                @onclick="@(e => ReplyMessage(messageId, recipient))">
                            <i class="fas fa-reply"></i>
                        </button>
                        <button title="Delete" class="btn btn-danger"
                                @onclick="@(e => DeleteMessage(messageId))">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>

}
@code {
    public List<MessageDto> Model { get; set; }

    // Settings
    public MessagesSettings MessageSettings { get; set; }
    public UsersSettings UsersSettings { get; set; }
    public UIMessages UIMessages { get; set; }
    public UIStyles UIStyles { get; set; }

    public bool ShowReplyForm { get; set; }
    public string Recipient { get; set; }
    public string CssClass { get; set; }
    public string StatusMessage { get; set; }

    private HubConnection hubConnection;
    private List<string> messages = new List<string>();


    protected override async Task OnInitializedAsync()
    {
        MessageSettings = Configuration.GetSection(nameof(ApiSettings)).Get<ApiSettings>().MessagesSettings;
        UsersSettings = Configuration.GetSection(nameof(ApiSettings)).Get<ApiSettings>().UsersSettings;
        UIMessages = Configuration.GetSection(nameof(UISettings)).Get<UISettings>().UIMessages;
        UIStyles = Configuration.GetSection(nameof(UISettings)).Get<UISettings>().UIStyles;

        CssClass = UIStyles.AlertInfo;
        StatusMessage = UIMessages.Loading;

        // SignalR
        hubConnection = new HubConnectionBuilder()
                                .WithUrl(NavigationManager.ToAbsoluteUri("/chathub"))
                                .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, message) =>
        {
            var encodedMsg = $"{user}: {message}";
            messages.Add(encodedMsg);
            StateHasChanged();
        });

        await hubConnection.StartAsync();

        Model = await Http.GetFromJsonAsync<List<MessageDto>>($"{MessageSettings.GetAllApiEndpoint}");

        if (Model != null && Model.Count > 0)
        {
            StatusMessage = UIMessages.ReceivedMessages;
            // Show only the last message from a given user
            Model = Model.OrderByDescending(x => x.DateSent).GroupBy(x => x.AuthorId).Select(x => x.First()).ToList();
        }
        else
        {
            StatusMessage = UIMessages.ReceivedMessagesEmpty;
        }
    }

    private async Task DeleteMessage(int id)
    {
        StatusMessage = UIMessages.DeletingMessage;

        var result = await Http.DeleteAsync($"{MessageSettings.DeleteApiEndpoint}/{id}");

        if (!result.IsSuccessStatusCode)
        {
            StatusMessage = UIMessages.DeletingMessageFailed;
        }
        else
        {
            StatusMessage = UIMessages.DeletingMessageSuccess;
        }

        if (Model != null && Model.Count > 0)
        {
            var messageToDelete = Model.FirstOrDefault(x => x.Id == id);
            Model.Remove(messageToDelete);
        }
    }

    private async Task ReplyMessage(int id, string recipient)
    {
        Recipient = recipient;

        StatusMessage = UIMessages.PleaseWait;

        var response = await Http.GetAsync($"{UsersSettings.GetUserApiEndpoint}/{recipient}");

        if (!response.IsSuccessStatusCode)
        {
            CssClass = UIStyles.AlertDanger;
            StatusMessage = UIMessages.UserNotFound;
        }
        else
        {
            StatusMessage = $"Replying to {Recipient}";
            ShowReplyForm = true;
        }

    }

    private async Task OnMessageOptionsButtonClick(string type = "received")
    {
        ShowReplyForm = false;

        MessageSettings = Configuration.GetSection(nameof(ApiSettings)).Get<ApiSettings>().MessagesSettings;
        UsersSettings = Configuration.GetSection(nameof(ApiSettings)).Get<ApiSettings>().UsersSettings;

        switch (type)
        {
            case "sent":
                Model = await Http.GetFromJsonAsync<List<MessageDto>>($"{MessageSettings.GetAllSentApiEndpoint}");

                if (Model != null && Model.Count > 0)
                {
                    StatusMessage = UIMessages.SentMessages;
                }
                else
                {
                    StatusMessage = UIMessages.SentMessagesEmpty;
                }
                break;
            case "received":
                Model = await Http.GetFromJsonAsync<List<MessageDto>>($"{MessageSettings.GetAllReceivedApiEndpoint}");

                if (Model != null && Model.Count > 0)
                {
                    StatusMessage = UIMessages.ReceivedMessages;
                }
                else
                {
                    StatusMessage = UIMessages.ReceivedMessagesEmpty;
                }
                break;
            case "archived":
                Model = await Http.GetFromJsonAsync<List<MessageDto>>($"{MessageSettings.GetAllArchivedApiEndpoint}");

                if (Model != null && Model.Count > 0)
                {
                    StatusMessage = UIMessages.ArchivedMessages;
                }
                else
                {
                    StatusMessage = UIMessages.ArchivedMessagesEmpty;
                }
                break;
            default:
                Model = await Http.GetFromJsonAsync<List<MessageDto>>($"{MessageSettings.GetAllReceivedApiEndpoint}");

                if (Model != null && Model.Count > 0)
                {
                    StatusMessage = UIMessages.ReceivedMessages;
                }
                else
                {
                    StatusMessage = UIMessages.ReceivedMessagesEmpty;
                }
                break;
        }
    }

    public void Dispose()
    {
        _ = hubConnection.DisposeAsync();
    }
}
